* {
    font-family: 'Helvetica', sans-serif;
    box-sizing: content-box;
}

.site-title {
    font-size: 4rem;
    width: fit-content;
    font-weight: 300;
    margin: 24px auto;
}

.main-form {
    display: grid;
    gap: 0.5rem;
    margin: auto;
    /* because label is 500px column total*/
    width: 500px;
}

label {
    display: grid;
    grid-template-columns: 200px 300px;
    text-align: start;
}

input:invalid {
    border: 2px solid red;
    border-radius: 3px;
}